html {
    height: 100%;
}

body {
    background-color: #4158D0;
    background-image: linear-gradient(315deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
}

.collection {
    border: 0px;
}

.collection-item {
    border: 0px;
}

.completed {
    text-decoration: line-through;
}